# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Streamlit secrets (VERY IMPORTANT)
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# ML / vector DB files (optional but safe)
*.pkl
*.faiss

# Logs
*.log